<mat-toolbar class="toolbar-natpis">
  <span>{{formdata.controls['$key'].value ? "Izmjeni podatke":"Novi Zaposlenik" }}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>


<!-- [formGroup] - import { ReactiveFormsModule } from '@angular/forms' !!! -->
<!-- import {MatInputModule} from '@angular/material/input'; -->
<!-- matInput  i INPUT obavezan -->
<form [formGroup]="formdata" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <!-- import { MatFormFieldModule } from '@angular/material/form-field'; -->
        <mat-form-field appearance="fill">
          <mat-label>Ime*</mat-label>
          <input formControlName="ime" matInput>
          <mat-error>Ime je obavezno</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput>
          <mat-error>Email je obavezan</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Mob*</mat-label>
          <input formControlName="mobile" matInput>
          <mat-error *ngIf="serviceZaposlenici.formdata.controls['mobile'].errors?.required">
            This field is mandatory.
          </mat-error>
          <mat-error *ngIf="serviceZaposlenici.formdata.controls['mobile'].errors?.minlength">
            Minimum 8 characters needed.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Grad</mat-label>
          <input formControlName="grad" matInput>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="controles-container">
        <div class="add-bottom-padding">
          <mat-radio-group formControlName="spol" aria-label="Select an option">
            <mat-radio-button value="1">Muški</mat-radio-button>
            <mat-radio-button value="2">Ženski</mat-radio-button>
            <mat-radio-button value="3">Ostalo</mat-radio-button>
          </mat-radio-group>
        </div>
        <!-- import { MatSelectModule } from '@angular/material/select'; -->

        <!-- <mat-form-field>
          <mat-select formControlName="odjelSifra" placeholder="Odjel iz polja">
            <mat-option *ngFor="let data of odjeli" [value]="data.id">
              {{ data.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

        <mat-form-field>
          <mat-select formControlName="odjelSifra" placeholder="Odjel iz Baze">
            <mat-option *ngFor="let odjel of odjelService.array" [value]="odjel.$key">
              {{odjel.code}} - {{odjel.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <!-- <mat-form-field>
          <mat-select formControlName="odjel" placeholder="odjel">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let odjel of odjelService.array">
              <mat-option value="{{odjel.$key}}">
                {{odjel.code}}-{{odjel.name}}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field> -->

        <!-- import { MatDatepickerModule } from '@angular/material/datepicker'; -->
        <!-- import { MatNativeDateModule } from '@angular/material/core'; -->
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput formControlName="datumZaposlenja" [matDatepicker]="picker" placeholder="Upisi datum">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="boja">
          <mat-checkbox formControlName="stalnoZaposlenje" class="boja">Stalni Zaposlenik</mat-checkbox>
          <!-- <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox> -->
        </div>

        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="serviceZaposlenici.formdata.invalid">
            Potvrdi
          </button>
          <button mat-raised-button color="warn" type="submit" (click)="onClear()">
            Obriši
          </button>
        </div>
      </div>
    </mat-grid-tile>

    <!-- <mat-grid-tile>3</mat-grid-tile> -->
    <!-- <mat-grid-tile>4</mat-grid-tile> -->
  </mat-grid-list>
</form>
